Repository darqus/tokyo-night-modern-vscode-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check, biome format --write, npm run test

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,md}": ["biome check", "biome format --write"],
  "*.{ts,tsx,js,jsx}": ["npm run test"]
}

build: remove unused husky configuration and update version
  .husky/pre-commit
  .lintstagedrc
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2361.vsix
  tokyo-modern-2.3.2365.vsix
Due: biome check, biome format --write

chore(release): v2.3.2370
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2365.vsix
  tokyo-modern-2.3.2370.vsix
Due: biome check, biome format --write

test(vitest): update theme generation to handle async function
  test/vitest/generator.test.ts
Due: biome check, biome format --write, npm run test

chore(release): v2.3.2371
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2370.vsix
  tokyo-modern-2.3.2371.vsix
Due: biome check, biome format --write

refactor(scripts): improve code quality and remove unnecessary characters
  scripts/release.ts
  test/vitest/color-edge-cases.test.ts
  test/vitest/snapshot.test.ts
  test/vitest/token-generator.test.ts
Due: biome check, biome format --write, npm run test

chore(release): v2.3.2372
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2371.vsix
  tokyo-modern-2.3.2372.vsix
Due: biome check, biome format --write

ci: update node version in test workflow
  .github/workflows/test.yml
Due: none

chore(release): v2.3.2373
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2372.vsix
  tokyo-modern-2.3.2373.vsix
Due: biome check, biome format --write

ci: update Node.js version to v22
  .github/workflows/ci.yml
Due: none

chore(release): v2.3.2374
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2373.vsix
  tokyo-modern-2.3.2374.vsix
Due: biome check, biome format --write

ci: remove --write=false flag from format check step
  .github/workflows/test.yml
Due: none

chore(release): v2.3.2375
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2374.vsix
  tokyo-modern-2.3.2375.vsix
Due: biome check, biome format --write

build: enable ESNext modules and update package type
  package.json
  tsconfig.json
Due: biome check, biome format --write

build(scripts): update ts-node to use ES modules
  package.json
  scripts/analyze-token-colors.ts
  scripts/build-theme.ts
  scripts/check-contrast.ts
  scripts/check-syntax-contrast.ts
  scripts/demo-semantic-tokens.ts
  scripts/release.ts
  src/theme/generator/tokens/markdown.ts
  test/vitest/index-coverage.test.ts
  test/vitest/index-files.test.ts
Due: biome check, biome format --write, npm run test

chore(release): v2.3.2378
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2375.vsix
  tokyo-modern-2.3.2378.vsix
Due: biome check, biome format --write

Add vitest coverage config and update package.json and vitest config
  docs/VITEST_COVERAGE_CONFIG.md
  package.json
  vitest.config.ts
Due: biome check, biome format --write, npm run test

chore(release): v2.3.2379
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2378.vsix
  tokyo-modern-2.3.2379.vsix
Due: biome check, biome format --write

Test commit to verify fixed hooks
  src/theme/index.ts
  vitest.config.ts
Due: biome check, biome format --write, npm run test

chore(release): v2.3.2380
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2379.vsix
  tokyo-modern-2.3.2380.vsix
Due: biome check, biome format --write

build: remove test:coverage script
  package.json
Due: biome check, biome format --write

chore(release): v2.3.2381
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2380.vsix
  tokyo-modern-2.3.2381.vsix
Due: biome check, biome format --write

ci: add test coverage script
  package.json
Due: biome check, biome format --write

chore(release): v2.3.2382
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2381.vsix
  tokyo-modern-2.3.2382.vsix
Due: biome check, biome format --write

ci: remove code coverage from test scripts
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
  package.json
Due: biome check, biome format --write

chore(release): v2.3.2383
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2382.vsix
  tokyo-modern-2.3.2383.vsix
Due: biome check, biome format --write

Fix lint-staged configuration to exclude coverage files and fix test execution
  .lintstagedrc
  scripts/check-syntax-contrast.ts
Due: biome check, biome format --write, npm run test

chore: remove husky and lint-staged configurations
  .husky/pre-commit
  .lintstagedrc
  biome.json
  package-lock.json
  package.json
Due: biome check, biome format --write

chore: remove unnecessary file configuration in biome.json
  biome.json
Due: biome check, biome format --write

chore(release): v2.3.2386
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2383.vsix
  tokyo-modern-2.3.2386.vsix
Due: biome check, biome format --write

ci: comment out publication steps in CI workflow
  .github/workflows/ci-cd.yml
Due: none

chore(release): v2.3.2387
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2386.vsix
  tokyo-modern-2.3.2387.vsix
Due: biome check, biome format --write

ci(release): add permissions for production environment
  .github/workflows/ci-cd.yml
Due: none

chore(ci-cd): add steps to delete previous releases and tags
  .github/workflows/ci-cd.yml
Due: none

chore(release): v2.3.2389
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2387.vsix
  tokyo-modern-2.3.2389.vsix
Due: biome check, biome format --write

chore(.vscodeignore): add tsconfig.node.json to ignore list
  .vscodeignore
Due: none

chore(release): v2.3.2390
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2389.vsix
  tokyo-modern-2.3.2390.vsix
Due: biome check, biome format --write

chore(release): v2.3.2392
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2390.vsix
  tokyo-modern-2.3.2392.vsix
Due: biome check, biome format --write

chore(release): v2.3.2393
  CHANGELOG.md
  package-lock.json
  package.json
  tokyo-modern-2.3.2392.vsix
  tokyo-modern-2.3.2393.vsix
Due: biome check, biome format --write

feat(scripts): add background contrast analysis script
  scripts/analyze-background-contrast.ts
Due: biome check, biome format --write, npm run test
